h1,h3,h4
{
    text-align: center;
    color: rgb(208, 144, 211);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body
{
    text-align: center;
    background-color: rgb(218, 245, 236);
}
table
{
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}
td
{
    width: 25%;
    border: 3px solid #ffffff;
    padding: 10px;
    text-align: left;
    color: rgb(208, 144, 211);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: 560;
}
img{
    max-width: 85%;
    height: auto;
}
