h1,h3
{
    text-align: center;
    background-color: rgb(184, 245, 184);
    color: rgb(134, 134, 129);
}
body
{
    background-color: beige;
}
button
{
    display: block;
    margin: 0 auto;
    background-color: rgb(184, 245, 184);
    padding: 10px;
    border: 3px;
}
img
{
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}